body {
  background-color: rgb(163, 238, 167);

}
.header  {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: aqua;
  padding: 10px;
  justify-items: center;
}

input {
  padding: 15px;
  width: 400px;
  border-radius: 10px;
  background-color: rgb(224, 102, 218);
  font-size: 20px;
}

input:hover {
  background-color: rgb(43, 150, 212);
}

.submit{
  padding: 13px;
  background-color: green;
  margin-left: 30px;
  border-radius: 5px;
  font-size: 18px;
  width: 130px;
  color: white;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(101, 211, 101);
}


.output {
  justify-items: center;
 
}

p {
  padding: 15px;
  background-color: blue;
  border-radius: 10px;
  width: 30%;
  font-size: 30px;
  color: white;
}

p:hover {
  background-color: rgb(48, 48, 206);
}

.delete-btn {
  padding: 10px;
  background-color: rgb(216, 21, 14);
  border-radius: 5px;
  font-size: 15px;
  width: 100px;
  color: white;
  float: right;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: brown;
}


.clear-btn{
  padding: 13px;
  background-color: rgb(247, 8, 8);
  margin-left: 30px;
  border-radius: 5px;
  font-size: 18px;
  width: 130px;
  color: white;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: rgb(241, 13, 165);
}
